openapi: 3.2.0
info:
  title: OpenAPI definition Functions Controller API
  version: v0
servers:
- url: http://api.moirailabs.com/api/v1
  description: Generated server url
security:
- bearerAuth: []
tags:
- name: functions-controller
paths:
  /functions/balance:
    get:
      tags:
      - functions-controller
      summary: Get price for tokens
      description: GET-method retrieve info about balances of wallet
      operationId: getTokensBalance
      parameters:
      - name: addresses
        in: query
        required: true
        schema:
          type: string
      - name: chainId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: wallet
        in: query
        required: true
        schema:
          type: string
      - name: X-Request-ID
        in: header
        description: Optional frontend-generated correlation ID. The backend returns the effective value in the response header.
        required: false
        schema:
          maxLength: 128
          minLength: 1
          pattern: ^[A-Za-z0-9._:-]{1,128}$
          type: string
          example: 8df31080-3b78-4e63-a67d-c2d107190f3c
      responses:
        '200':
          description: OK
          headers:
            X-Request-ID:
              description: Effective request correlation ID used by backend audit logging.
              schema:
                maxLength: 128
                minLength: 1
                pattern: ^[A-Za-z0-9._:-]{1,128}$
                type: string
                example: 8df31080-3b78-4e63-a67d-c2d107190f3c
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BalancesResponse'
components:
  schemas:
    BalancesResponse:
      type: object
      properties:
        balances:
          type: object
          additionalProperties:
            type: string
        error:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
