openapi: 3.2.0
info:
  title: OpenAPI definition Report Controller API
  version: v0
servers:
- url: http://api.moirailabs.com/api/v1
  description: Generated server url
security:
- bearerAuth: []
tags:
- name: report-controller
paths:
  /api/reports/daily/{contractAddress}:
    get:
      tags:
      - report-controller
      operationId: getReports
      parameters:
      - name: contractAddress
        in: path
        required: true
        schema:
          type: string
      - name: X-Request-ID
        in: header
        description: Optional frontend-generated correlation ID. The backend returns the effective value in the response header.
        required: false
        schema:
          maxLength: 128
          minLength: 1
          pattern: ^[A-Za-z0-9._:-]{1,128}$
          type: string
          example: 8df31080-3b78-4e63-a67d-c2d107190f3c
      responses:
        '200':
          description: OK
          headers:
            X-Request-ID:
              description: Effective request correlation ID used by backend audit logging.
              schema:
                maxLength: 128
                minLength: 1
                pattern: ^[A-Za-z0-9._:-]{1,128}$
                type: string
                example: 8df31080-3b78-4e63-a67d-c2d107190f3c
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DailyReportResponse'
      summary: Get reports
      x-summary-source: derived
components:
  schemas:
    DailyReportResponse:
      type: object
      properties:
        reportId:
          type: string
          format: uuid
        contractAddress:
          type: string
        chainId:
          type: integer
          format: int32
        startBlock:
          type: integer
          format: int64
        endBlock:
          type: integer
          format: int64
        datetime:
          type: string
          format: date-time
        totalTxAmount:
          type: integer
          format: int32
        percentageOfTxPrevDay:
          type: number
          format: double
        dau:
          type: integer
          format: int32
        dauComparisonPrevDay:
          type: number
          format: double
        newWalletsAmount:
          type: integer
          format: int32
        usersByCohorts:
          type: string
        methodAmount:
          type: string
        methodsByCohorts:
          type: string
        failedTx:
          type: integer
          format: int32
        gasUsed:
          type: integer
          format: int64
        txsPerDayByMethods:
          type: string
        txsPerDayByCohorts:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
